{% extends "layout.html" %}

{% block content %}

<div class="container">
    <center><div class="col-md-8"></div></center>
    <form class="row g-3" action="#" method="post"></form>
<br>
<h1 class="display-5" style="color:aliceblue">¿Qué es Horchata Games?</h1>

<p class="text-light bg-dark">Bienvenidos a HorchataGames!, en esta pagina web venimos a brindarles informacion sobre todos los videojuegos o tal vez algunos que son muy conocidos tambien por el echo de darles a conocer la creacion, la historia y aun mas cosas del VideoJuego; sabemos que  hay muchas paginas web de lo mismo pero nosotros queremos poder extendernos mas y quien sabe poder a llegar a venderlo un dia teniendo aun mas presupuesto pero hay que comenzar poco a poco  </p>
 <p class="text-light bg-dark">
 </p>
 <p class="text-light bg-dark">  FUNDACION: 10 de noviembre del 2022, Mexico Ags</p> 
 <p class="text-light bg-dark">  FUNDADORES: Arely, Alan y Erick</p> 
<p>  <img src="{{ url_for('static', filename='img/la.gif') }}" class="d-block w-100 rounded-3" alt="..."></p>


</div>
{% endblock %}